

body{
  background-color:#111;
  width: 100%;
 
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header{
  color:cornsilk;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.75em;
  text-align:center;
  text-shadow: 2px 2px red;
}

a{
  text-shadow: none;
  font-size: .8em;
  text-decoration: none;
}

select{
  background-color: silver;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

div{
  display: flex;
  flex-wrap: wrap;
  height: 25em;
  justify-content: space-evenly;
  width:30em;
  margin-top: 3em;
  

}
h2{
  color: cornsilk;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.75em;
  text-align: center;
}

img{
  /* display: block; */
  /* margin: auto; */
  height: 90%;
  width: 90%;
  z-index: 5;
}

img:hover ~p{
  visibility: visible;
}

img:hover{
  opacity: .5;
}

p{
  bottom: 7em;
  color: cornsilk;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: relative;
  margin: auto;
  text-align: center;
  visibility: hidden;
  width: 90%;  
} 

footer{
color: cornsilk;
clear:both;
padding-top: 5em;
text-align: center;
}